body {
  font-family: system-ui, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

h1, h2 {
  border-bottom: 1px solid #ccc;
}

li {
  margin-bottom: 0.5rem;
}

a {
  margin-left: 1rem;
  font-size: 0.9em;
}

.index-tab.active {
  background: #005ea5;
  color: white;
}

.index-tab {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: 1px solid #005ea5;
  border-bottom: none;
  cursor: pointer;
}
